.banner {
    background-image: url(../images/banner.png);
    background-color: var(--banner-bg-color);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 80vh;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.banner-right {
    background-image: url(../images/banner-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100%;
    width: 50%;
}

.banner-content span{
    font-size: 20px;
    line-height: 30px;
    color: var(--primary-color);
    font-weight: 600;
}

.banner-content h1{
    font-size: 72px;
    line-height: 82px;
    color: var(--white-color);
    margin-bottom: 50px;
}