<div class="jobs">
    <div class="content">
        <h1>Job History</h1>
        <div class="container">
            {% if jobs %}
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Income</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs | reverse %}
                            <tr>
                                <td class="ellipsis">{{ job['job'].title }}</td>
                                <td class="ellipsis">{{ job['start_date'] }}</td>
                                <td class="ellipsis">{{ job['end_date'] }}</td>
                                <td class="ellipsis">{{ job['income'] }} <span style="font-size: 12px;">RWF</span></td>
                                <td class="ellipsis"><span class="status {{ job['status'] }}">{{ job['status'] }}</span></td>
                                <td>
                                    <div class="action-btns">
                                        {% if  job['status'] == 'approved' %}
                                            <a href="/payment/{{ job['job'].id }}" class="action table-btn ellipsis">Request Payment</a>
                                        {% elif  job['status'] == 'pending' %}
                                            <a href="/remove/{{ job['job'].id }}" class="red table-btn ellipsis">Remove</a>
                                        {% elif  job['status'] == 'requested' %}
                                            <a href="/cancel/{{ job['job'].id }}" class="red table-btn ellipsis">Cancel</a>
                                        {% else %}
                                            <span class="ellipsis">No Actions</span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>No jobs available</h2>
            {% endif %}
        </div>
    </div>
</div>
<style>
    .jobs {
        padding: 30px 35px;
        display: flex;
        flex-direction: column;
    }
    .jobs .content h1 {
        color: var(--black-color);
    }
    .jobs .content .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 58vh;
        margin-top: 30px;
        background-color: var(--grey-color);
        overflow: auto;
    }
    .jobs .content .container h2 {
        color: var(--secondary-color);
    }
</style>